body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  .form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .form label {
    margin-right: 10px;
  }
  
  .form input {
    margin-right: 10px;
  }
  
  #tasks {
    margin-top: 20px;
  }
  